.Register {
  width: 100%;
  text-align: center;
  clear: both;
  color:rgb(138, 5, 190);
  padding-top: 30px;
  padding-bottom: 20px;
}

.Register input {
  width: 100%;
  clear: both;
}

input[type=email], select {
  border: none;
  padding-left: 100px;
  background-color: #EDDEF2;
  color: rgb(138, 5, 190);
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  width: 50%;
  border-radius: 6.25rem;
  transition: all .2s linear;
}

input[type=email], focus {
  box-shadow: 5px 4px 4px rgba(138,5,190,.35);
  outline:none;
}

input[type=password], select {
  border: none;
  padding-left: 100px;
  background-color: #EDDEF2;
  color: rgb(138, 5, 190);
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  width: 50%;
  border-radius: 6.25rem;
  transition: all .2s linear;
}

input[type=password], focus {
  box-shadow: 5px 4px 4px rgba(138,5,190,.35);
  outline:none;
}

.Voltar-btn{
  border: none;
  background-color: rgb(138,5,190);
  color:#fdfdfd;
  padding:.5rem 2rem;
  margin-right: 10px;
  margin-top: 2rem;
  font-size: 1.2rem;
  border-radius:6.25rem;
  width: 20%;
  height: 52px;
  cursor: pointer;
}

.Voltar-btn:hover{
  background-color: rgb(145, 11, 193);
}

.Voltar-btn:focus{
  outline:none;
}

.Register-btn{
  border: none;
  background-color: rgb(138,5,190);
  color:#fdfdfd;
  padding:.5rem 2rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  border-radius:6.25rem;
  width: 30%;
  height: 52px;
  cursor: pointer;
}

.Register-btn:hover{
  background-color: rgb(145, 11, 193);
}

.Register-btn:focus{
  outline:none;
}
